{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $signingkey := get . "signingkey" -}}
{{- if not $signingkey -}}
{{-   $signingkey = promptString "signingkey" -}}
{{- end -}}

{{- $hostname := get . "hostname" -}}
{{- if not $hostname -}}
{{-   $hostname = promptString "hostname" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    signingkey = {{ $signingkey | quote }}
    hostname = {{ $hostname | quote }}
