g() {
   if [ "$1" = "adds" ]; then
      git-add
   elif [ "$1" = "fu" ]; then
      git-fixup
   elif [ "$1" = "sha" ]; then
      git-sha
   elif [ "$1" = "sb" ]; then
      git-switch-branch
   elif [ "$1" = "rbs" ]; then
      git-rebase
   else
      command git "$@"
   fi
}
